.color {
  background: blue;
  color: white;
}

.button {
  &.red { background: $red; }
  &.green { background: $green; }
  &.blue { background: $blue; }
}

.pane {
  width: 400px;
  height: 400px;
  background: #aaaaaa;
}