- content_for :head do
  %title The Middleman!

.row
  .small-12.columns
    %h1 The Middleman is watching.

.row
  .small-12.columns
    %a.button.red(href="#") Red
    %a.button.blue(href="#") Blue
    %a.button.green(href="#") Green
.row
  .small-12.columns
    %input.slider(type="range" min="1" max="10" step="1")

.row
  .small-12.columns
    .pane
