- content_for :head do
  %title The Middleman!

%div(ng-app="waypoints" ng-controller="WaypointsController")
  .row
    .small-12.columns
      %h1 The Middleman is watching.
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero
      tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %div.color(ui-jq="waypoint" ui-options="test") when this div passes off screen the test function is called

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, placeat, inventore delectus libero tenetur tempore fugiat laudantium nostrum dolores sapiente eius accusamus quibusdam sequi corrupti quo alias dolor quasi magnam!
